<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />

    <title></title>
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="app">
    <div ng-controller="emp">
        <div>
            Value of a is {{a}} , but you can change
            <input type=text ng-model="a" />


            <br> Value of a is {{b}} , but you can change
            <input type=text ng-model="b" />

        </div>
        Sum = {{sum}} <br>
        <button ng-click="doSum()">Calculate</button>



    </div>

    </div>

</body>

</html>